/* header */
#header{
	background: url('../images/bg-header.jpg') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 100;
	.holder{
		position: relative;
		padding-top: 9px;
		.logo{
			position: absolute;
			top: 21px;
			right: 0;
			width: 154px;
			height: 25px;
			background: url('../images/logo.png') no-repeat;
			text-indent: -9999px;
			overflow: hidden;
			a{
				display: block;
				height: 100%;
			}
		}
		.slogan{display: block;}
		.stock{
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin: -14px 0 0 56px;
			padding: 0 0 36px;
			list-style: none;
			z-index: 10;
			&:before{
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 34px;
				height: 34px;
				margin: -11px 0 0 -35px;
				background: url('../images/icon-plus.png') no-repeat;
			}
			&:after{
				content: '';
				position: absolute;
				bottom: 5px;
				left: 50%;
				margin: 0 0 0 -29px;
				width: 22px;
				height: 40px;
				background: url('../images/icon-equally.png') no-repeat;
				overflow: hidden;
			}
			li{
				display: inline-block;
				vertical-align: top;
				text-align: center;
				.item{
					display: inline-block;
					vertical-align: top;
					position: relative;
					font-size: 18px;
					line-height: 22px;
					color: #333;
					font-weight: normal;
					padding: 0 18px;
					margin-bottom: 8px;
					text-shadow: -2px 2px 1px rgba(255,255,255,0.8), 2px -2px 1px rgba(255,255,255,0.8), 2px 2px 1px rgba(255,255,255,0.8), -2px -2px 1px rgba(255,255,255,0.8);
					strong.ttl{
						display: inline-block;
						vertical-align: top;
						padding: 0 28px;
						margin-bottom: 7px;
						font: bold 18px/22px  "HiraKakuPro W3", Arial, Helvetica, san-serif;
						position: relative;
						&:before{
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							width: 26px;
							height: 38px;
							margin-top: -19px;
							background: url('../images/sep-l-header.png') no-repeat;
						}
						&:after{
							content: '';
							position: absolute;
							top: 50%;
							right: 0;
							width: 26px;
							height: 38px;
							margin-top: -19px;
							background: url('../images/sep-r-header.png') no-repeat;
						}
					}
					.img{
						display: block;
						background: #fff;
						width: 158px;
						height: 105px;
						line-height: 105px;
						border-radius: 10px;
						border: 1px solid #e73f33;
						text-align: center;
						margin: 0 auto;
						-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
						-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
						box-shadow: 0 2px 5px rgba(0,0,0,0.2);
						img{
							vertical-align: middle;
							max-width: 100%;
							max-height: 100%;
						}
					}
				}
			}
		}
		.price-row{
			margin: 0 0 6px 31px;
			.low-price{
				display: inline-block;
				vertical-align: top;
				margin: -5px 0 0;
			}
			.price{
				display: inline-block;
				vertical-align: top;
				margin: 1px 0 0 -6px;
			}
			.price-sp{display: none;}
		}
		.list{
			position: relative;
			margin: 0;
			padding: 0 10px 39px;
			list-style: none;
			li{
				display: inline-block;
				vertical-align: top;
				text-align: center;
				width: 190px;
				min-height: 120px;
				line-height: 100px;
				border-radius: 25px;
				padding: 5px 12px;
				border: 5px solid #e73f33;
				background: rgba(255,255,255,0.7);
				@include box-sizing;
				.item{
					display: inline-block;
					vertical-align: middle;
					font-size: 26px;
					line-height: 30px;
					font-weight: 600;
					text-shadow: -2px 2px 1px rgba(255,255,255,0.8), 2px -2px 1px rgba(255,255,255,0.8), 2px 2px 1px rgba(255,255,255,0.8), -2px -2px 1px rgba(255,255,255,0.8);
					span{
						color: #e73f33;
					}
				}
				& + li{
					margin-left: 21px;
				}
				&.device{
					position: relative;
					padding-left: 20px;
					padding-right: 20px;
					&:after{
						content: '';
						position: absolute;
						right: -296px;
						bottom: -107px;
						width: 298px;
						height: 205px;
						background: url('../images/icon-device.png') no-repeat;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			.logo{
				right: 10px;
			}
			.list{
				padding-left: 0;
				li{
					width: 170px;

					&+li{
						margin-left: 10px;
					}
					&.device:after{
						bottom: -70px;
						right: -185px;
						width: 198px;
						height: 136px;
						-webkit-background-size: 198px 136px;
						background-size: 198px 136px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		background: url('../images/bg-header-sp.jpg') no-repeat 50% 50%;
		-webkit-background-size: cover;
		background-size: cover;
		.holder{
			padding: 1px 8px 0;
			text-align: center;
			.logo{
				display: none;
			}
			.slogan{
				margin-left: -6px;
				img{
					width: 307px;
				}
			}
			.stock{
				margin: -12px 0 0;
				padding-bottom: 22px;
				li{
					.item{
						font-size: 11px;
						line-height: 14px;
						padding: 0;
						margin: 0;
						strong.ttl{
							font-size: 11px;
							line-height: 14px;
							padding: 0 14px;
							margin-bottom: 2px;
							letter-spacing: -1px;
							&:before,
							&:after{
								width: 13px;
								height: 19px;
								margin-top: -9px;
								-webkit-background-size: 13px 19px;
								background-size: 13px 19px;
							}
						}
						.img{
							width: 83px;
							height: 60px;
							line-height: 60px;
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
							img.wi-fi{
								width: 36px;
								height: 39px;
							}
							img.world{
								width: 50px;
								height: 36px;
							}
						}
					}
					&:last-child{
						padding-left: 10px;
					}
				}
				&:before{
					left: 56%;
					width: 20px;
					height: 20px;
					-webkit-background-size: 20px 20px;
					background-size: 20px 20px;
				}
				&:after{
					left: 56%;
					bottom: 3px;
					width: 11px;
					height: 20px;
					-webkit-background-size: 11px 20px;
					background-size: 11px 20px;
				}
			}
			.price-row{
				margin: 0 0 2px;
				.low-price,
				.price{
					display: none;
				}
				.price-sp{
					display: block;
					width: 285px;
					margin: 0 auto;
				}
			}
			.list{
				margin: 0 auto;
				@include box-flex;
				@include space-between;
				padding: 0 0 15px;
				width: 70%;
				min-width: 304px;
				li,
				li.device{
					display: block;
					width: 31.5%;
					padding-left: 5px;
					padding-right: 5px;
					border-width: 2px;
					-webkit-border-radius: 12px;
					-moz-border-radius: 12px;
					border-radius: 12px;
					height: 60px;
					min-height: 60px;
					line-height: 46px;
					.item{
						font-size: 13px;
						line-height: 16px;
					}
					&:after{
						display: none;
					}
				}
			}
		}
	}
}