@charset "utf-8";
@import "helpers/mixins";
@import "helpers/reset";
/* layout parts */
@import "layout/header";
@import "layout/footer";

/* styles */
#wrapper{
	position: relative;
	padding-bottom: 146px;
	overflow: hidden;
	@media only screen and (max-width: 736px) {
		padding-bottom: 65px;
	}
}
/* net block  */
.net-block{
	.heading{
		color: #fff;
		position: relative;
		z-index: 2;
		padding: 111px 0 36px;
		background: #3db6c1 url('../images/ico-01.png') no-repeat 50% 18px;
		h2{
			font-size: 36px;
			line-height: 50px;
			text-align: center;
			a{
				display: inline-block;
				vertical-align: top;
				color: #fff;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;
					background: #fff;
				}
				&:hover:after{
					display: none;
				}
			}
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -50px;
			left: 50%;
			margin-left: -85px;
			width: 0;
			height: 0;
			border-left: 85px solid transparent;
			border-right: 85px solid transparent;
			border-top: 50px solid #3db6c1;
		}
	}
	.block{
		background: url('../images/separator01.png') repeat-y 50% 8px;
		position: relative;
		z-index: 1;
		padding: 36px 0 73px;
		&:before,
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../images/bg-l-net.png') no-repeat 0 100%;
		}
		&:after{
			background: url('../images/bg-r-net.png') no-repeat 100% 100%;
		}
		.holder{
			position: relative;
			z-index: 2;
			.box{
				width: 47%;
				float: left;
				font-size: 16px;
				line-height: 24px;
				&:last-child{
					float: right;
				}
				.img{
					margin-bottom: 32px;
					img{
						width: 100%;
						&.pc{
							display: block;
						}
					}
				}
				.ttl-list{
					color: #3db6c1;
					margin-bottom: 30px;
					li{
						font-size: 20px;
						line-height: 36px;
						font-weight: bold;
						padding-left: 20px;
						position: relative;
						text-shadow: -2px 2px 1px #fff, 2px -2px 1px #fff, 2px 2px 1px #fff, -2px -2px 1px #fff;
						&:before{
							content: '•';
							position: absolute;
							top: 0;
							left: 0;
							width: 20px;
						}
					}
				}
				p{
					margin-bottom: 24px;
					text-shadow: -2px 2px 1px #fff, 2px -2px 1px #fff, 2px 2px 1px #fff, -2px -2px 1px #fff;
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		.heading{
			h2{
				font-size: 32px;
			}
		}
		.block:after,
		.block:before{
			display: none;
		}
	}
	@media only screen and (max-width: 736px) {
		.heading{
			padding: 63px 0 13px;
			background-position: 50% 10px;
			-webkit-background-size: 60px 48px;
			background-size: 60px 48px;
			h2{
				font-size: 18px;
				line-height: 30px;
				span{display: block;}
			}
			&:after{
				margin-left: -43px;
				bottom: -25px;
				border-left: 43px solid transparent;
				border-right: 43px solid transparent;
				border-top: 25px solid #3db6c1;
			}
		}
		.block{
			background: none;
			padding: 45px 0 15px;
			.holder{
				padding-left: 10px;
				padding-right: 10px;
				.box{
					float: left;
					width: 100%;
					font-size: 12px;
					line-height: 18px;
					.img{
						margin-bottom: 18px;
					}
					.ttl-list{
						margin-bottom: 6px;
						li{
							padding-left: 13px;
							font-size: 14px;
							line-height: 22px;
						}
					}
					p{
						margin-bottom: 21px;
					}
				}
			}
		}
	}
}
/* plans box */
.plans-box{
	background: #6cb2f8;
	position: relative;
	z-index: 10;
	color: #fff;
	&:before{
		content: '';
		position: absolute;
		top: -66px;
		left: 50%;
		margin-left: -66px;
		width: 132px;
		height: 154px;
		background: url('../images/icon-plans.png') no-repeat;
		overflow: hidden;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: -50px;
		left: 50%;
		margin-left: -85px;
		width: 0;
		height: 0;
		border-left: 85px solid transparent;
		border-right: 85px solid transparent;
		border-top: 50px solid #6cb2f8;
	}
	.holder{
		position: relative;
		padding-top: 50px;
		padding-bottom: 55px;
		.heading{
			margin-bottom: 54px;
			text-align: center;
			h2{
				font-size: 36px;
				line-height: 1.6;
				padding-bottom: 1px;
				display: inline-block;
				vertical-align: top;
				background: url('../images/separator02.png') repeat-x 3px 100%;
			}
		}
		.table{
			width: 100%;
			text-align: center;
			color: #333;
			tr {
				background: #fff;
				height: 90px;
				font-size: 18px;
				line-height: 22px;
				font-weight: normal;
				th {
					border: 1px solid #000;
					background: #f0f0f0;
					vertical-align: middle;
					font-weight: normal;
					&.event{
						position: relative;
						background: #ffa801;
						border: 18px solid #ffa801;
						width: 28.5%;
						b{
							font-size: 20px;
							line-height: 24px;
						}
						&:before{
							content: "";
							position: absolute;
							top: -25px;
							left: -25px;
							width: 93px;
							height: 80px;
							background: url('../images/img-event.png') no-repeat;
							-webkit-background-size: 100% auto;
							background-size: 100% auto;
						}
					}
					&:first-child{
						width: 17%;
					}
				}
				td {
					border: 1px solid #000;
					vertical-align: middle;
					p {
						margin-bottom: 0;
					}
					&.event{
						color: #e83428;
						font-size: 28px;
						line-height: 32px;
						font-weight: bold;
						border-left: 18px solid #ffa801;
						border-right: 18px solid #ffa801;
						border-top: 1px solid #000;
						border-bottom: 1px solid #000;
						width: 270px;
					}
				}
				&:first-child{
					height: 60px;
					th.event{
						border-bottom: 1px #ffa801 solid;
					}
				}
				&:last-child td.event{
					border-bottom: 18px #ffa801 solid;
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			.table{
				tr{
					th,
					td{
						font-size: 16px;
					}
					th:first-child{
						width: 18%;
					}
					th.event{
						font-size: 18px;
						width: 28%;
					}
					td.event{
						font-size: 26px;
						width: 28%;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		&:before{
			top: -22px;
			width: 62px;
			height: 35px;
			margin-left: -31px;
			background: url('../images/icon-plans-sp.png') no-repeat;
			-webkit-background-size: 62px 35px;
			background-size: 62px 35px;
		}
		&:after{
			margin-left: -43px;
			bottom: -25px;
			border-left: 43px solid transparent;
			border-right: 43px solid transparent;
			border-top: 25px solid #6cb2f8;
		}
		.holder{
			padding-top: 24px;
			padding-bottom: 17px;
			.heading{
				margin-bottom: 22px;
				h2{
					font-size: 18px;
					line-height: 30px;
					padding-bottom: 2px;
					-webkit-background-size: 6px 2px;
					background-size: 6px 2px;
				}
			}
			.table{
				tr{
					height: auto;
					th,
					td{
						font-size: 11px;
						line-height: 14px;
						padding-top: 4px;
						padding-bottom: 4px;
					}
					th{
						line-height: 11px;
						&:first-child{
							width: 21%;
						}
					}
					th.event{
						border-top-width: 9px;
						border-left-width: 9px;
						border-right-width: 9px;
						font-size: 11px;
						line-height: 17px;
						b{
							font-size: 11px;
							line-height: 17px;
						}
						width: 25%;
						&:before{
							top: -13px;
							left: -13px;
							width: 53px;
							height: 44px;
							-webkit-background-size: 53px 44px;
							background-size: 53px 44px;
						}
					}
					td.event{
						border-left-width: 9px;
						border-right-width: 9px;
						font-size: 14px;
						background: #fdf8dd;
						width: 25%;
					}
					&:first-child{
						height: 34px;
					}
					&:last-child td.event{
						border-bottom-width: 9px;
					}
				}
			}
		}
	}
}
/* reasons block */
.reasons-block{
	background: #e6f3ff;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		bottom: -50px;
		left: 50%;
		margin-left: -85px;
		width: 0;
		height: 0;
		border-left: 85px solid transparent;
		border-right: 85px solid transparent;
		border-top: 50px solid #e6f3ff;
	}
	.holder{
		padding-top: 71px;
		padding-bottom: 6px;
		h2{
			margin: 0 auto 37px;
			max-width: 876px;
			font-size: 36px;
			line-height: 48px;
			font-weight: bold;
			color: #6cb2f8;
			@include box-sizing;
			@include box-flex;
			align-items: center;
			img{
				display: block;
				margin-right: 24px;
				vertical-align: top;
			}
			strong{
				display: block;
			}
		}
		.box{
			margin-bottom: 54px;
			overflow: hidden;
			.image{
				margin: 6px 27px 0 0;
				float: left;
				width: 34.694%;
				img{
					display: block;
					width: 100%;
				}
				&.r{
					margin: 6px 0 0 27px;
					float: right;
				}
			}
			.text{
				font-size: 16px;
				line-height: 26px;
				overflow: hidden;
				h3{
					margin-bottom: 26px;
					font-size: 24px;
					line-height: 36px;
					mark{
						color: #e83428;
					}
				}
				p{
					margin-bottom: 26px;
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			h2{
				font-size: 30px;
			}
		}
	}
	@media only screen and (max-width: 736px) {
		&:after{
			margin-left: -43px;
			bottom: -25px;
			border-left: 43px solid transparent;
			border-right: 43px solid transparent;
			border-top: 25px solid #e6f3ff;
		}
		.holder{
			padding-top: 40px;
			padding-bottom: 2px;
			h2{
				margin: 0 0 14px -4px;
				font-size: 19px;
				line-height: 24px;
				img{
					margin-right: 5px;
					width: 77px;
				}
			}
			.box{
				margin-bottom: 8px;
				.image,
				.image.r{
					float: none;
					margin: 0 0 12px;
					width: 100%;
				}
				.text{
					font-size: 12px;
					line-height: 18px;
					h3{
						margin-bottom: 8px;
						font-size: 14px;
						line-height: 18px;
					}
					p{
						margin-bottom: 18px;
					}
				}
			}
		}
	}
}
/* customers title */
.customers-title{
	background: #6cb2f8;
	color: #fff;
	.holder{
		background: url('../images/bg-customers-title.jpg') no-repeat;
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
		text-align: center;
		padding-top: 86px;
		@include box-sizing;
		overflow: hidden;
		h2{
			font-size: 36px;
			line-height: 1.4;
			margin: 0 0 48px 181px;
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			h2{
				font-size: 27px;
			}
		}
	}
	@media only screen and (max-width: 736px) {
		.holder{
			padding-top: 36px;
			h2{
				font-size: 18px;
				line-height: 21px;
				text-align: left;
				margin: 0 -5px 13px 100px;
				span{
					display: block;
				}
			}
		}
	}
}
/* recommended box */
.recommended-box{
	.holder{
		padding-top: 55px;
		padding-bottom: 21px;
		h2{
			margin-bottom: 20px;
			text-align: center;
			font-size: 36px;
			line-height: 1.4;
			color: #3db6c1;
		}
		.links-blocks{
			margin-bottom: 44px;
			overflow: hidden;
			@include box-flex;
			justify-content: space-between;
			.box{
				width: 31.8%;
				.icon{
					margin: 0 auto -58px;
					width: 118px;
					height: 118px;
					-webkit-border-radius: 59px;
					-moz-border-radius: 59px;
					border-radius: 59px;
					background: #3db6c1;
					@include fade(all);
					img{
						display: block;
						width: 100%;
					}
				}
				h3{
					font-size: 22px;
					line-height: 30px;
					color: #fff;
					background: #3db6c1;
					padding: 16px 5px 13px;
					text-align: center;
					position: relative;
					@include fade(all);
				}
				.content{
					background: #e1e1e1;
					padding: 16px 12px 12px;
					border: 4px solid #e1e1e1;
					border-top-width: 0;
					@include fade(all);
					img{
						display: block;
						width: 100%;
					}
				}
				&:hover,
				&.active{
					.icon,
					h3{
						background: #e83428;
					}
					.content{
						border: 4px solid #e83428;
						border-top-width: 0;
					}
				}
			}
		}
		.recommend-box{
			margin-bottom: 40px;
			font-size: 16px;
			line-height: 26px;
			.heading{
				margin: 0 0 17px 68px;
				position: relative;
				padding: 12px 12px 12px 25px;
				background: #3db6c1;
				color: #fff;
				.icon{
					position: absolute;
					left: -68px;
					top: -12px;
					img.pc{
						display: block;
						width: 100%;
					}
				}
				h3{
					font-size: 28px;
					line-height: 36px;
					font-weight: bold;
				}
			}
			.hold{
				overflow: hidden;
				.text{
					width: 63.2%;
					@include box-sizing;
					float: left;
					padding: 0 15px 0 5px;
				}
				.image{
					width: 36.8%;
					float: right;
					margin-top: 3px;
					img{
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			.links-blocks{
				.box{
					width: 32%;
					h3{
						font-size: 17px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		.holder{
			padding-top: 26px;
			padding-bottom: 0;
			h2{
				margin-bottom: 15px;
				font-size: 19px;
				line-height: 1.4;
			}
			.links-blocks{
				display: none;
			}
			.recommend-box{
				margin-bottom: 30px;
				.heading{
					padding: 5px;
					margin: 0 0 11px;
					background: #3db6c1;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					@include box-flex;
					min-height: 36px;
					align-items: center;
					.icon{
						display: block;
						position: relative;
						left: 0;
						top: 0;
						width: 35px;
						img.sp{
							width: 35px;
						}
					}
					h3{
						margin-left: 8px;
						font-size: 17px;
						line-height: 18px;
					}
				}
				.hold{
					.text{
						width: 100%;
						float: none;
						padding: 0;
						margin-bottom: 11px;
						font-size: 12px;
						line-height: 18px;
					}
					.image{
						width: 100%;
						float: none;
					}
				}
			}
		}
	}
}
/* rates info */
.rates-info{
	background: url('../images/bg-rates-info.png');
	.holder{
		padding-top: 53px;
		overflow: hidden;
		h2{
			margin-bottom: 29px;
			font-size: 36px;
			line-height: 1.4;
			color: #fff;
			text-align: center;
		}
		.plan-box{
			margin-bottom: 60px;
			background: #fff;
			padding: 3px;
			overflow: hidden;
			h3{
				background: #3388dd;
				color: #fff;
				font-size: 30px;
				line-height: 40px;
				padding: 19px 15px 19px 30px;
			}
			.content{
				padding: 30px 37px 34px;
				@include box-flex;
				overflow: hidden;
				.left-col{
					width: 31.1%;
					.box{
						text-align: center;
						background: #f2f2f2;
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 10px;
						.title{
							background: #ababab;
							color: #fff;
							padding: 10px 5px 5px;
							-webkit-border-radius: 10px 10px 0 0;
							-moz-border-radius: 10px 10px 0 0;
							border-radius: 10px 10px 0 0;
							p{
								font: 14px/20px "HiraKakuPro W3", Arial, Helvetica, san-serif;
								strong{
									font-size: 20px;
									line-height: 20px;
									span{
										font-size: 14px;
									}
								}
							}
						}
						.icon{
							line-height: 98px;
							text-align: center;
							img{
								vertical-align: middle;
							}
						}
						&:first-child{
							margin-bottom: 70px;
							position: relative;
							&:after{
								content: '';
								position: absolute;
								bottom: -47px;
								left: 50%;
								width: 34px;
								height: 34px;
								margin-left: -17px;
								background: url('../images/icon-plus.png') no-repeat;
							}
						}
					}
				}
				.middle-col{
					width: 16%;
					text-align: center;
					align-self: center;
					strong{
						margin-top: -68px;
						display: block;
						position: relative;
						font: bold 30px/36px "HiraKakuPro W6", Arial, Helvetica, san-serif;
						padding-bottom: 37px;
						background: url('../images/icon2-equally.png') no-repeat 50% 100%;
						letter-spacing: -3px;
					}
				}
				.right-col{
					width: 52.9%;
					.price-box{
						border: 8px solid #e23428;
						-webkit-border-radius: 8px;
						-moz-border-radius: 8px;
						border-radius: 8px;
						background: #fff;
						padding: 15px 10px 17px;
						text-align: center;
						.old{
							margin-bottom: 7px;
							padding-bottom: 46px;
							background: url('../images/arrow-down-red.png') no-repeat 50% 100%;
							font: bold 20px/36px "HiraKakuPro W6", Arial, Helvetica, san-serif;
							span{
								font-size: 30px;
								text-decoration: line-through;
							}
						}
						.icon{
							margin-bottom: 5px;
							vertical-align: top;
						}
						.price{
							margin-bottom: 26px;
							@include box-flex;
							text-align: center;
							align-items: center;
							justify-content: center;
							.amount{
								display: inline-block;
								vertical-align: top;
								font: bold 29px/29px "HiraKakuPro W6", Arial, Helvetica, san-serif;
								padding-right: 7px;
							}
							strong{
								font: bold 74px/86px "HiraKakuStd W8", Arial, Helvetica, san-serif;
								letter-spacing: 3px;
							}
							em{
								font-style: normal;
								font: bold 15px/15px "HiraKakuPro W6", Arial, Helvetica, san-serif;
								span{
									font-size: 39px;
									line-height: 39px;
								}
							}
						}
						.bubble{
							display: block;
							margin: 0 auto;
							max-width: 408px;
							text-align: center;
							color: #fff;
							font: bold 36px/60px "HiraKakuPro W6", Arial, Helvetica, san-serif;
							background: #e23428;
							-webkit-border-radius: 20px;
							-moz-border-radius: 20px;
							border-radius: 20px;
							position: relative;
							&:after{
								content: '';
								position: absolute;
								top: -20px;
								left: 50%;
								margin-left: -16px;
								width: 0;
								height: 0;
								border-left: 16px solid transparent;
								border-right: 16px solid transparent;
								border-bottom: 20px solid #e23428;
							}
						}
					}
				}
			}
		}
		.monthly-charge{
			margin-bottom: 55px;
			background: #fff;
			padding: 31px 40px 36px;
			overflow: hidden;
			h3 {
				margin-bottom: 35px;
				font-size: 30px;
				line-height: 1.4;
				color: #6cb2f8;
			}
			.chart{
				margin-bottom: 20px;
				img.pc{
					display: block;
					width: 100%;
				}
			}
			.notes{
				margin: 0;
				font-size: 14px;
				line-height: 18px;
				overflow: hidden;
				em{
					margin-right: 15px;
					float: left;
					font-style: normal;
				}
				span{
					display: block;
					overflow: hidden;
				}
			}
		}
		.table-box{
			margin-bottom: 28px;
			overflow: hidden;
			h3{
				margin-bottom: 20px;
				font-size: 30px;
				line-height: 1.4;
				color: #fff;
			}
			.table{
				margin-bottom: 18px;
				width: 100%;
				th,
				td{
					border: 1px solid #333;
					height: 36px;
					vertical-align: middle;
					background: #fff;
					text-align: left;
					padding: 10px 22px;
					font-size: 16px;
					line-height: 18px;
					font-weight: normal;
				}
				td.table-holder{
					padding: 0;
				}
				th{
					background: #e6f3ff;
					text-align: center;
					width: 27%;
					padding: 10px;
				}
				table{
					table-layout: fixed;
					width: 100%;
					td{
						border: 0;
						border-right: 1px solid #333;
						&:last-child{
							border-right: 0;
						}
					}
				}
			}
			.notes{
				margin: 0 0 24px;
				font-size: 16px;
				line-height: 24px;
				color: #fff;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			.plan-box{
				.content{
					padding: 30px 10px 34px;
					.left-col{
						.box{
							.title{
								p{
									font-size: 13px;
								}
							}
						}
					}
					.middle-col{
						strong{
							font-size: 25px;
						}
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		.holder{
			padding-top: 25px;
			h2{
				margin-bottom: 12px;
				font-size: 19px;
				line-height: 30px;
			}
			.plan-box{
				padding: 2px;
				margin-bottom: 20px;
				h3{
					font-size: 15px;
					line-height: 20px;
					padding: 9px 10px;
					text-align: center;
				}
				.content{
					padding: 15px 16px 13px;
					flex-wrap: wrap;
					.left-col{
						width: 90%;
						margin: 0 auto 12px;
						.box{
							.title{
								padding-left: 10px;
								padding-right: 10px;
								p{
									font-size: 12px;
									line-height: 14px;
									strong{
										font-size: 14px;
										line-height: 20px;
										span{
											font-size: 12px;
											line-height: 20px;
										}
									}
								}
							}
							.icon{
								line-height: 84px;
								img.wi-fi{
									width: 54px;
								}
								img.world{
									width: 75px;
								}
							}
							&:first-child{
								margin-bottom: 34px;
								&:after{
									bottom: -26px;
									width: 19px;
									height: 19px;
									margin-left: -10px;
									-webkit-background-size: 19px 19px;
									background-size: 19px 19px;
								}
							}
						}
					}
					.middle-col{
						width: 100%;
						margin-bottom: 13px;
						align-self: flex-start;
						strong{
							display: block;
							width: 50%;
							padding: 0 7px 0 0;
							margin-top: 0;
							text-align: right;
							font-size: 15px;
							line-height: 23px;
							position: relative;
							background: url('../images/icon3-equally.png') no-repeat 100% 50%;
							-webkit-background-size: 13px 23px;
							background-size: 13px 23px;
							span{
								display: block;
								padding-right: 16px;
							}
						}
					}
					.right-col{
						width: 100%;
						.price-box{
							border-width: 4px;
							padding: 9px 15px 10px;
							.old{
								margin-bottom: 4px;
								padding-bottom: 24px;
								font-size: 11px;
								line-height: 22px;
								span{
									font-size: 17px;
								}
								-webkit-background-size: 51px 23px;
								background-size: 51px 23px;
							}
							.icon{
								display: block;
								margin: 0 auto 8px;
								width: 159px;
							}
							.price{
								margin-bottom: 17px;
								.amount{
									font-size: 16px;
									line-height: 16px;
								}
								strong{
									font-size: 41px;
									line-height: 41px;
								}
								em{
									font-size: 9px;
									line-height: 11px;
									span{
										font-size: 22px;
										line-height: 22px;
									}
								}
							}
							.bubble{
								font-size: 20px;
								line-height: 34px;
								-webkit-border-radius: 10px;
								-moz-border-radius: 10px;
								border-radius: 10px;
							}
						}
					}
				}
			}
			.monthly-charge{
				margin-bottom: 28px;
				padding: 16px 10px 13px;
				h3{
					font-size: 15px;
					line-height: 1.4;
					margin-bottom: 16px;
					text-align: center;
				}
				.chart{
					margin-bottom: 11px;
					img{
						display: block;
						width: 100%;
					}
				}
				.notes{
					font-size: 10px;
					line-height: 12px;
					em{
						margin-right: 10px;
					}
				}
			}
			.table-box{
				margin-bottom: 2px;
				h3{
					margin-bottom: 10px;
					font-size: 15px;
					line-height: 20px;
				}
				.table{
					margin-bottom: 11px;
					th,
					td{
						vertical-align: top;
						font-size: 12px;
						line-height: 14px;
						padding: 7px;
						height: 14px;
					}
					th{
						width: 33%;
						padding: 7px 2px;
						span{display: block;}
					}
					&.tab2 th{
						width: 25%;
					}
					table{
						table-layout: auto;
						tr{
							td:first-child{
								width: 27%;
							}
							td:nth-child(2) {
								width: 29%;
							}
						}
					}
				}
				.notes{
					font-size: 12px;
					line-height: 15px;
				}
			}
		}
	}
}
/* form box */
.form-box{
	.holder{
		padding: 57px 0 0;
		.heading{
			overflow: hidden;
			.img{
				margin: 0 5.7% 0 2.5%;
				float: right;
				width: 26.837%;
				img{
					display: block;
					width: 100%;
				}
			}
			.txt{
				padding: 4px 31px 0 0;
				overflow: hidden;
				.bubble{
					position: relative;
					background: #dcedf9;
					font-size: 30px;
					line-height: 1.4;
					font-weight: bold;
					color: #254e76;
					padding: 37px 10px;
					text-align: center;
					-webkit-border-radius: 18px;
					-moz-border-radius: 18px;
					border-radius: 18px;
					&:after{
						content: '';
						position: absolute;
						top: 56%;
						right: -31px;
						width: 31px;
						height: 20px;
						background: url('../images/arrow-form-head.png') no-repeat;
					}
				}
			}
		}
		.form{
			margin-bottom: 56px;
			img{
				display: block;
				width: 100%;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	@media only screen and (max-width: 736px) {
		.holder{
			padding: 16px 10px 0;
			.heading{
				overflow: visible;
				&:after{
					content: '';
					display: block;
					clear: both;
				}
				.img{
					margin: 0 -15px 0 3px;
					width: 113px;
				}
				.txt{
					padding: 20px 18px 0 0;
					.bubble{
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 10px;
						font-size: 15px;
						line-height: 20px;
						padding: 9px 5px 9px 10px;
						text-align: left;
						span{
							display: block;
						}
						&:after{
							right: -18px;
							top: auto;
							bottom: 13px;
							width: 18px;
							height: 12px;
							-webkit-background-size: 18px 12px;
							background-size: 18px 12px;
						}
					}
				}
			}
		}
	}
}
/* included form */
#form{
	position: relative;
	padding-top: 22px;
	margin: 0 auto 40px;
	max-width: 580px;
	overflow: hidden;
	p{
		font-size: 12px;
		line-height: 16px;
	}
	.req-mark{
		display: inline-block;
		font-size: 12px;
		height: 19px;
		color: #EA3049;
		font-family: meiryo, 'Hiragino Kaku Gothic Pro', sans-serif;
		white-space: nowrap;
		border-radius: 4px;
		position: relative;
		padding: 0.1em 0.2em;
		margin: 0 0 0 0.2em;
	}
	#save-load-layer{
		position: absolute;
		top: 0;
		right: 0;
		width: 180px;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 0px 0px 6px 6px;
		box-shadow: 0px 1px 3px #999;
		background-color: #eee;
		padding: 2px;
		color: #555;
		z-index: 10;
		#save-load-title{
			text-align: center;
			background: url('../images/save-icon16.png') no-repeat 5px 0;
			text-decoration: underline;
		}
		#save-load-message{
			text-align: center;
			color: crimson;
			background-color: #fff;
			border-radius: 2px;
			text-shadow: 1px 1px 1px #ddd;
		}
		#save-load-buttons{
			margin: 2px 0 2px 0;
			padding: 2px;
			color: #444;
			ul{
				list-style: none;
				li{
					margin: 0 0 8px;
					button{
						width: 100%;
						line-height: 2.0em;
						padding: 2px 4px;
						margin: 0 4px 2px 0;
						color: #fff;
						background-color: #8b8b8b;
						border: 1px solid #ddd;
						border-radius: 4px;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.comform-wrap{
		box-sizing: border-box;
		position: relative;
		margin: 0 auto 8px;
		background-color: #fff;
		.comform-title {
			text-align: center;
			font-size: 16px;
			line-height: 25px;
			color: #fff;
			background-color: #8b8b8b;
			border: 1px solid #aaa;
			font-weight: bold;
			padding: 4px;
			margin: 0 auto 16px;
			font-family: meiryo, "MS PGothic", "Hiragino Kaku Gothic Pro", sans-serif;
		}
		.comform-container{
			box-sizing: border-box;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			.comform-row {
				table-layout: fixed;
				display: table;
				width: 100%;
				.itemTitle {
					display: table-cell;
					width: 30%;
					vertical-align: top;
					padding: 10px;
					font-weight: bold;
					line-height: 1.6;
					font-size: 15px;
					color: #555;
					background-color: #eee;
					border: 0;
					border-right: 1px solid #ccc;
					border-bottom: 1px solid #ccc;
					box-sizing: border-box;
				}
				.itemInput {
					display: table-cell;
					width: 70%;
					vertical-align: text-top;
					font-size: 15px;
					line-height: 1.6;
					color: #555;
					background-color: #fff;
					padding: 10px;
					border: 0;
					border-right: 1px solid #ccc;
					border-bottom: 1px solid #ccc;
					box-sizing: border-box;
					.choice-table {
						display: inline-table;
						border-spacing: 0;
						vertical-align: top;
						td {
							padding: 2px 4px 2px 18px;
							text-indent: -16px;
							label{
								margin: 0 0 0 2px;
							}
						}
					}
				}
			}
		}
		.error {
			font-size: 0.95em;
			border: 1px solid #f66;
			margin: 2px 0px 0px 0px;
			padding: 2px 0px 2px 24px;
			color: #551111;
			background: #fff5f5 url('../images/alert-icon16.gif') no-repeat 2px 2px;
			position: absolute;
			border-radius: 4px;
			box-shadow: 0px 1px 2px #aaa;
			cursor: pointer;
			z-index: 1;
		}
	}
	input,
	textarea,
	select{
		font-size: 13px;
		line-height: 13px;
		padding: 2px;
		margin: 0;
		font-family: monospace;
	}
	.itemInput input[type="text"],
	.itemInput input[type="email"],
	.itemInput textarea,
	.itemInput select {
		font-size: 14px;
		font-family: monospace;
		line-height: 1.6;
		padding: 4px 8px 4px 8px;
		margin: 2px 0;
		color: #555;
		background-color: #fff;
		border: 1px solid #bbb;
		-webkit-box-shadow: 0 1px 2px 0 #ddd inset;
		-moz-box-shadow: 0 1px 2px 0 #ddd inset;
		box-shadow: 0 1px 2px 0 #ddd inset;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.checkLabel{
		margin: 0 4px;
		font-size: 13px;
	}
	.form-buttons {
		text-align: center;
		margin: 16px 0;
		button{
			padding: 3px;
			font-size: 13px;
		}
	}
	.annot {
		color: #dc143c;
		font-size: 13px;
		padding: 0;
		display: inline-block;
		vertical-align: top;
		a{
			color: #00e;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.itemInput label:hover {
		text-shadow: 0px 0px 2px #dd8080;
	}
	.annot-upper {
		margin: 0 4px 1px 0;
	}
	.annot-lower {
		margin: 1px 4px 0 0;
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 10px;
		.comform-wrap{
			.comform-title{
				margin-bottom: 5px;
				font-size: 14px;
				line-height: 1.4;
			}
			.comform-container{
				.comform-row{
					.itemTitle{
						font-size: 12px;
						line-height: 1.4;
					}
					.itemInput{
						font-size: 12px;
						.choice-table{
							td{
								label{
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
		.checkLabel{
			font-size: 12px;
		}
		.itemInput input[type="text"],
		.itemInput input[type="email"],
		.itemInput textarea,
		.itemInput select{
			@include box-sizing;
			font-size: 13px;
		}
		#save-load-layer #save-load-buttons ul li button{
			font-size: 12px;
		}
	}
}